{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Wishlist page{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'posts/style.css' %}">
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-centered mt-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-centered">
        <h3 class="mt-5 mb-3">Wishlist</h3>
          {% if user.user_wishlist.all %}
            {% for wish in user.user_wishlist.all %}
              <div class="alert alert-info" id="center_wishlist">
                <h3>{{ wish.owner }}</h3>
                <br><a href="{% url 'profile' wish.id %}" class="btn btn-primary" role="button">Show post details</a><br>
                <br><a href="/wishlist/delete_from_wishlist/{{ wish.id }}" class="btn btn-primary" role="button">remove</a>
              </div>
            {% endfor %}
          {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}